@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: "Roboto";
    background: #39BEF8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    margin-top: 60px;
}

.block {
    width: 900px;
    height: 900px;
    background: #113748;
    border-radius: 30px;
    border: 2px solid white;
}

.block_container_visit {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    background: #2DC071;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    p {
        display: block;
        font-family: "Montserrat";
        font-style: bold;
        font-size: 27px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        padding-top: 5px;
    }
}

.link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "Montserrat";
    font-style: bold;
    color: #fff;
    font-size: 37px;
    transition: 1.5s;
    &:hover {
        transform: rotate(0.5turn);
        padding-top: 20px;
    }
}

.cursor_link {
    display: flex;
    justify-content: center;
}

.block__about {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    .block__text {
        font-family: "Montserrat";
        color: white;
        font-size: 30px;
        font-weight: 500;
        span {
            font-weight: 800;
        }
    }
}

.block__tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 60px;
    background: white;
    height: 100px;
    width: 600px;
}

.pict {
    transition: 1.5s;
    &:hover {
        transform: scale(1.6, 1.6);
    }
}


.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 550px;
}

.block_footer {
    width: 100%;
    position: relative;
    margin-top: 100px;
    background: white;
    height: 500px;
    .block_footer__info {
        margin: 30px ;
    }
    .block_footer__left {
        width: 25%;
        .res {
            font-size: 20px;
            font-weight: 900;
        }
    }

}

.block_footeer__pict {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0px 0px;
}

a {
    text-decoration: underline;
    color: black;
}

.link_picts {
    font-size: 15px;
    margin-top: 13px;
}

.illustrations {
    margin-top: 6px;
}

.icons {
    margin-top: 1px;
}


.block_footer__info {
    display: flex;
    flex-flow: row;
    .contact {
        font-size: 20px;
    }
}